<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <% if(htmlWebpackPlugin.options.title=="浏览页"){ %>
    <link rel="stylesheet" href="./plugin/editor.md/css/editormd.min.css" />
    <%} %>

</head>
<body>



<div id="root"></div>
</div>

<% if(htmlWebpackPlugin.options.title=="浏览页"){ %>
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
<script src="./plugin/editor.md/editormd.min.js"></script>
<!--<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>-->
<!--<script >hljs.initHighlightingOnLoad();</script>-->
<%} %>

</body>
</html>