body {
  #bgm_Player{
    background-color: #333333;
  }
  #top_BackgroundImg {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 300px;
  }
  #article_Content{
    margin-bottom: 50px;
  }
  .backgroundTransparent {
    background-color: transparent;
  }
}