body {
  #bgm_Player {
    background-color: #333333;
  }
  #top_BackgroundImg {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 300px;
  }
  #article_Content {
    margin-bottom: 50px;
  }
  .backgroundTransparent {
    background-color: transparent;
  }
  .articleCatalogContainer {
    width: 20%;
    min-height: 100px;
  }
  .articleCatalogContainer_close {
    width: 0px;
  }
  .articleContainer {
    width: 100%;
  }
  .articleContainer_small {
    width: 80%;
  }
  .article_Catalog_Hide {
    visibility: hidden;
  }
  .article_Catalog_Show {
    top: 64px;
  }
  .hyggeWriter_Markdown_CatalogTitle{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
  }
}