body {
  #top_backgroundImg {
    height: 300px;
    background: url("https://s1.ax2x.com/2018/08/26/5D6tsz.jpg") no-repeat 0px -500px;
  }
  .backgroundTransparent {
    background-color: transparent;
  }
}