@charset "utf-8";
a, body, div, dl, dt, h1, h2, h3, h4, h5, h6, input, li, ol, p, span, textarea {
    margin: 0;
    padding: 0
}

body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serifsans-serif
}

a, em {
    text-decoration: none
}

* {
    outline: 0;
}

a img {
    border: 0
}

address, caption, cite, code, dfn, p, em, i, th, var {
    font-style: normal;
    font-weight: normal
}
