.hyggeWriter_Markdown_Reader {
  footer {
    text-align: right;
    font-style: normal;
  }
  abbr {
    font-weight: bold;
    background-color: inherit;
    color: #df5000;
    text-decoration: none;
    cursor: help;
  }
}