body {
  .pageControl {
    width: 100%;
    text-align: center
  }
  .pageControl .active {
    border-radius: 5px;
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #00A1D6;
    color: #FFF;
    font-size: 14px;
    border: 1px solid #00A1D6;
    cursor: pointer
  }
  .pageControl a {
    border-radius: 5px;
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #000;
    font-size: 14px;
  }
  .pageControl a:hover {
    border-radius: 5px;
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #00A1D6;
    border: 1px solid #ebebeb;
    color: #FFF;
    font-size: 14px;
  }
  .pageControl .next {
    width: 70px;
  }
  .pageControl .next:hover {
    width: 70px;
    background: #00A1D6;
    color: #FFF;
  }
  .pageControl .prev {
    width: 70px;
  }
  .pageControl .prev:hover {
    width: 70px;
    background: #00A1D6;
    color: #FFF;
  }
  .hotTitle {
    color: #000;
    font-size: 16px;
  }
  .hotMoreInfo {
    margin-top: 10px;
    font-size: 12px;
  }
  .commentBox {
    width: 120px;
  }
  .commentArticleTitle {
    padding-right: 5px;
    font-size: 14px;
    font-weight: 600;
  }
  .commentContent {
    padding-right: 5px;
    font-size: 12px;
    color: #555555;
  }
  .appBarLeftMenu {
    position: absolute;
    left: 0px;
    animation: appBarLeftMenu_ToStrait 0.5s
  }
  .appBarLeftMenu_Wide {
    position: absolute;
    left: 140px;
    animation: appBarLeftMenu_ToWide 0.5s
  }
  .appBarTitle {
    margin-left: 26px;
    animation: appBarTitle_ToStrait 0.5s
  }
  .appBarTitle_Wide {
    margin-left: 200px;
    animation: appBarTitle_ToWide 0.5s
  }
  .leftMenu {
    position: relative;
    width: 48px;
    margin-left: -48px;
    color: #757575;
    animation: rightMenu_ToStrait 0.5s
  }
  .leftMenu_Wide {
    position: relative;
    width: 200px;
    margin-left: -200px;
    color: #757575;
    animation: rightMenu_ToWide 0.5s
  }
  .textInfoRow {
    width: 200px;
    line-height: 20px;
  }
  .leftMenuContainer {
    margin-top: 64px;
    padding-left: 48px;
    padding-right: 200px;
    animation: rightMenuContainer_ToStrait 0.5s
  }
  .leftMenuContainer_Wide {
    margin-top: 64px;
    padding-left: 200px;
    padding-right: 200px;
    animation: rightMenuContainer_ToWide 0.5s
  }
  .xavierHeadIcon {
    width: 40px;
    height: 40px;
    margin: 10px auto 0px auto;
    animation: xavierHeadIcon_ToStrait 0.5s
  }
  .xavierHeadIcon_Wide {
    width: 128px;
    height: 128px;
    margin: 20px auto 0px auto;
    animation: xavierHeadIcon_ToWide 0.5s
  }
  .linkIcon {
    width: 24px;
    height: 24px;
  }
}

@keyframes rightMenuContainer_ToStrait {
  0% {
    padding-left: 200px;
  }
  100% {
    padding-left: 48px;
  }
}

@keyframes rightMenuContainer_ToWide {
  0% {
    padding-left: 180px;
  }
  100% {
    padding-left: 200px;
  }
}

@keyframes leftMenu_ToStrait {
  0% {
    width: 200px;
    margin-left: -200px
  }
  100% {
    width: 48px;
    margin-left: -48px
  }
}

@keyframes leftMenu_ToWide {
  0% {
    width: 48px;
    margin-left: -48px;
    opacity: 0;
  }
  100% {
    width: 200px;
    margin-left: -200px;
    opacity: 50%;
  }
}

@keyframes xavierHeadIcon_ToStrait {
  0% {
    width: 128px;
    height: 128px;
  }
  100% {
    width: 40px;
    height: 40px;
  }
}

@keyframes xavierHeadIcon_ToWide {
  0% {
    width: 40px;
    height: 40px;
    margin: 10px auto 0px auto;
  }
  100% {
    width: 128px;
    height: 128px;
    margin: 20px auto 0px auto;
  }
}

@keyframes appBarLeftMenu_ToStrait {
  0% {
    left: 140px;
  }
  100% {
    left: 0px;
  }
}

@keyframes appBarLeftMenu_ToWide {
  0% {
    left: 0px;
  }
  100% {
    left: 140px;
  }
}

@keyframes appBarTitle_ToStrait {
  0% {
    margin-left: 200px;
  }
  100% {
    margin-left: 26px;
  }
}

@keyframes appBarTitle_ToWide {
  0% {
    margin-left: 26px;
  }
  100% {
    margin-left: 200px;
  }
}